<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjXS9Vhb3vvh3gS_PR_a9mlShf1XwAsds</string>
	<key>GCM_SENDER_ID</key>
	<string>735674425714</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aat.gkquiz</string>
	<key>PROJECT_ID</key>
	<string>gk-master-aat</string>
	<key>STORAGE_BUCKET</key>
	<string>gk-master-aat.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735674425714:ios:ea777dff4f270b38b87deb</string>
</dict>
</plist>